@import 'normalize', 'variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

main {
  max-width: 1200px;
  margin:auto;
}

.search-area {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-area,
.photo-grid {
  margin: $spacing;
}

.search-area {
  margin-bottom: 0;
}

.search {
  padding: 1rem;
  border-radius: $corners;
  border: 2px solid #ccc;
  width:65%;
  color: #ccc;
  transition: width 1s,
              color 1s;


  &:focus {
    width:90%;
    color: #333;
  }

}

.photo-grid {
  display: grid;
  grid-gap: $spacing;
  grid-template-columns: 1fr;

  * {
    border-radius: $corners;

    img {
      width: 100%;
    }

  }

  @media screen and (min-width: 540px){

    & {
      grid-template-columns: repeat(2, 1fr);
    }


  }

  @media screen and (min-width: 768px){

    & {
      grid-template-columns: repeat(3, 1fr);
    }


  }

  @media screen and (min-width: 1024px){

    & {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: $spacing;

      * {
        transform: scale(.95);
        transition: transform .5s;
      }

      *:hover {
        transform: scale(1.02);
      }

    }


  }

}

.sketch {
  min-height: 10vh;
  background-color: slategrey;
}
