@import 'normalize', 'variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

main {
  max-width: 1100px;
  margin:auto;
}

.search-area {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-area,
.photo-grid {
  margin: $spacing;
}

.search-area {
  margin-bottom: 0;
}

.search {
  padding: 1rem;
  border-radius: $corners;
  border: 2px solid #ccc;
  width:55%;
  color: #ccc;
  transition: width 1s,
              color 1s;


  &:focus {
    width:75%;
    color: #333;
  }

}

.photo-grid {
  display: grid;
  grid-gap: $spacing;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  * {
    transform: scale(.99);
    transition: transform .5s;
  }

  *:hover {
    transform: scale(1.01);
  }

  img {
    border-radius: $corners;
    width: 100%;

    // I'm sure there's a better way to prevent the images growing too much at Desktop size, but this works for now.
    max-width: 300px;
  }

}

.sketch {
  min-height: 10vh;
  background-color: slategrey;
}
